@{
    ViewBag.Title = "Index";
}

<h1>Home Page</h1>

<p>This is the index page for </p>

<h2>Post Examples:</h2>

<ul>
    <li><a href="@Url.Content("~/post/hello-world")">Hello World</a></li>
</ul>

<h2>Page Examples:</h2>

<ul>
    <li><a href="@Url.Content("~/page/your-awesome-landing-page")">Landing Page</a></li>
</ul>
